<div class="navbar">
  <div class="logo">
    <h2>Nexus</h2>
  </div>

  <ul class="nav-links">
    <li class="active"><a href="#">Home</a></li>
    <li class="has-dropdown">
      <a href="#">Categories</a>
    </li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>

  <div class="right-nav">
    <!-- Like -->
    <div class="icon" title="Like">
      <img class="icon-img" [src]="icons.like" alt="Like" />
    </div>

    <!-- Account -->
    <!-- <div class="icon" title="Account">
      <img class="icon-img" [src]="icons.user" alt="account" />
    </div> -->

    <!-- Cart -->
    <div class="icon">
      @if (buy > 0) {
        <span class="badge">{{ buy }}</span>
      }
      <img class="icon-img" [src]="icons.shopping" alt="shopping" />
    </div>
    
    <!-- Notification -->
    <div class="icon">
      @if (notification > 0) {
        <span class="badge">{{ notification }}</span>
      }
      <img class="icon-img" [src]="icons.notification" alt="notification" />
    </div>

    <!-- Sign In -->
    <button class="sign-in-btn">Sign In</button>
  </div>
</div>